
.title{
    color: black;
    font-weight: 700;
}
.red-color{
    color: red;
}
.row{
    display: flex;
}
.warn{
    color: red;
}
.text-input{
    width: 260px;
    height: 30px;
    border-radius: 6px;
}
.margin {
    margin-right:15px;
}
::placeholder{
    padding-left: 20px;
}
table, td {
    border: 1px solid black;
    text-align: center;
}
td{
    width: 192px;
}
th{
    height: 50px;
}
.text-input2{
    width: 820.5px;
    height: 30px;
    border-radius: 6px;
}
.text-input3{
    width: 540.5px;
    height: 30px;
    border-radius: 6px;
}
.btn1{
    border-radius: 3px;
    width: 150px;
    height: 40px;
    background-color: white;
    border:1px solid red;
    margin-right: 20px;
    margin-bottom: 100px;
}
.btn2{
    border-radius: 3px;
    width: 150px;
    height: 40px;
    background-color: blue;
    color:white;
    border:1px solid blue;
    
}
.footer{
    display:flex;
    justify-content: center;
}
.main{
    width: 1200px;
}
.body{
    display: flex;
    justify-content: center;
}